.inputMatchesContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputContainer {
  margin-top: 40px;
}

.inputContainer input {
  height: 40px;
  width: 330px;
  font-family: "Cal Sans", Helvetica, Arial, sans-serif;
  font-size: 27px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.inputContainer input:focus {
  background-color: rgb(77, 77, 77);
}

.matchesContainer {
  width: 350px;
  position: absolute;
  top: 100%;
}

.foundMatch,
.notFound {
  font-size: 25px;
  text-align: left;
  list-style: none;
  padding: 7px;
  background-color: black;
}

.notFound {
  font-size: 18px;
  text-align: center;
}

.foundMatch:hover {
  background-color: rgb(102, 102, 102);
  cursor: pointer;
}

@media (max-width: 600px) {
  .inputContainer {
    margin-top: 15px;
  }

  .inputContainer input {
    width: 280px;
  }

  .matchesContainer {
    width: 300px;
    background-color: black;
  }
}
