.guessesContainer {
  margin-top: 30px;
  display: flex;
  width: 100%;
}

.guessesTable {
  width: 80%;
  min-width: 600px;
}

.guessesTable thead tr th {
  background-color: rgb(71, 71, 71);
  width: 100px;
  padding: 5px;
  font-size: 18px;
}

.guessesTable tbody td {
  width: 100px;
  height: 70px;
  font-size: 25px;
}

.guessesTable .tableName {
  background-color: rgb(48, 48, 48);
}

.guessesTable tbody td {
  padding: 10px;
}

@media (max-width: 640px) {
  .guessesContainer {
    overflow-x: auto;
  }

  .guessesTable {
    min-width: 500px;
  }

  .guessesTable thead tr th {
    font-size: 14px;
    padding: 4px;
  }

  .guessesTable tbody td {
    font-size: 18px;
    height: 60px;
    padding: 6px;
  }
}

@media (min-width: 640px) {
  .guessesContainer {
    justify-content: center;
  }
}
